<!DOCTYPE html>
<html>
<head>
    <title>Wybór plików</title>
    <script>
        function disableElement(id) {
            document.getElementById(id).disabled = true;
        }

        function checkBothSelected() {
            const photosSelected = document.getElementById("photos").value !== "";
            const videoSelected = document.getElementById("video").value !== "";

            if (photosSelected && videoSelected) {
                document.getElementById("submit").disabled = false;
            }
        }
    </script>
</head>
<body>
    <h1>Wybór plików</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="photos">Wybierz folder zdjęć:</label>
        <input type="file" id="photos" name="photos_folder" webkitdirectory onchange="disableElement('photos'); checkBothSelected();" required>
        <br>
        <label for="video">Wybierz plik wideo:</label>
        <input type="file" id="video" name="video_file" onchange="disableElement('video'); checkBothSelected();" required>
        <br>
        <button type="submit" id="submit" disabled>Przejdź do player</button>
    </form>
</body>
</html>
