<!DOCTYPE html>
<html>
<head>
    <title>Przetwarzanie wideo</title>
</head>
<body>
    <h1>Podgląd wideo</h1>

    <!-- Warunkowe wyświetlanie -->
    {% if video_path %}
    <h2>Podgląd lokalnego pliku wideo</h2>
    <video controls>
        <source src="/static/{{ video_path }}" type="video/mp4">
        Twoja przeglądarka nie obsługuje odtwarzania wideo.
    </video>
    {% endif %}

    {% if photos_path %}
    <h2>Wybrany folder zdjęć</h2>
    <p>{{ photos_path }}</p>
    {% endif %}
</body>
</html>
